.modal {
	height: 100%;
	width: 100%;
	background-color: rgba($color: #000000, $alpha: 0.4);
	position: fixed;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;


	&__content {
		background-color: #fff;
		padding: 80px;
		width: 500px;
		border-radius: 16px;
		position: relative;
		display: flex;
		justify-content: center;
		flex-direction: column;
	}

	&__close {
		position: absolute;
		right: 24px;
		top: 24px;
		background: none;
		border: none;
		cursor: pointer;
	}

	&__title {
		font-size: 32px;
		display: flex;
		justify-content: center;
		margin-bottom: 20px;
	}


	&__form {
	margin: 0;
		p {
			margin-top: 24px;
			font-size: 14px;
			line-height: 19px;
			color: #222222;
			margin-bottom: 32px;

			a {
				text-decoration: none;
			}
		}
	}

}

