*,
*::before,
*::after {
	box-sizing: border-box;
}

ul,
li {
	list-style: none;
}

body,
h1,
h2,
h3,
h4,
h5,
p,
ul,
li {
	margin: 0;
	padding: 0;
}

.btn {
	border: none;
	padding: 14px 25px;
	background-color: #F21F5B;
	border-radius: 30px;
	color: #fff;
	font-size: 16px;
	cursor: pointer;
	outline: none;
}

.btn.form {
	background-color: #3951E7;
}




body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
		'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	min-height: 100vh;
	scroll-behavior: smooth;
	text-rendering: optimizeSpeed;
	line-height: 1.5;
}



.container {
	max-width: 1220px;
	margin: 0 auto;
}
